<!DOCTYPE html>
<html lang="en">
    <%- include ("./includes/head") %>
<body>
    <div class="main">

        <%- include ("./includes/header") %>
    
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/products/add"> Add Products</a></li>
            <li style="float:right"><a href="/products">Back</a></li>
    
      </ul>
  
      <div id="form">
          <form>
              <label>Product</label>
              <select>
                  <option>
                    <option value="perfumes">Perfumes</option>
                    <option value="earphones" selected>Earphones</option>
                    <option value="lamps" >Lamps</option>
                  </option>
              </select> <br>
  
              <label>Quantity</label>
              <input type="number" name="quantity"> <br>
  
              <label>Amount</label>
              <input type="number" name="amount">
              <br> <br>
            
                <label>TOTAL: <%= 'quantity' * 'amount' %> </label>
              <br> <br>
  
              <input type="submit" name="submit" value="SUBMIT" onclick="">
          </form>
      </div>

        <div id="footer">
            copyright @Izala Production
        </div>

    </div>    
</body>
</html>